<p>권한 요청: {{ get.scope }}</p>

<form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="response_type" value="{{ get.response_type }}">
    <input type="hidden" name="client_id" value="{{ get.client_id }}">
    <input type="hidden" name="redirect_uri" value="{{ get.redirect_uri }}">
    <input type="hidden" name="state" value="{{ state }}">
    <input type="hidden" name="scope" value="{{ get.scope }}">
    <input type="submit"/>
</form>